/* #306b34
#06aed5
#0c7489
#F7ECE1 
MuseoModerno*/
@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0%;
  padding: 0%;
}
body {
  background-color: #0c7489;
  height: 200vh;
}

#logoImg {
  width: 78px;
  height: 78px;
}

.logo p {
  font-family: MuseoModerno;
  font-size: 50px;
  margin-bottom: -11.5px;
}
.logo #subtitle {
  font-size: 11.5px;
  margin-left: 8px;
  margin-bottom: 7px;
}
.logo {
  background-color: #15a179;
  height: 8.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f7ece1;
}
.nav {
  background-color: #15a179;
  height: 4%;
  top: 0;
  position: sticky;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 999;
}
nav a {
  color: #f7ece1;
  text-decoration: none;
  font-family: Roboto;
  font-size: 23px;
  font-weight: bold;
}
#myChart {
  width: 80%;
  background-color: rgb(164, 182, 197);
  margin: 0 auto;
}
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #000;
  text-align: center;
  padding: 8px;
}

th {
  background-color: #dddddd;
}

.grid-container {
  display: flex;
  justify-content: center;
}
.gauge-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}
.gauge-card {
  background-color: rgb(54, 49, 49);
  border-radius: 10px;
  padding: 20px;
  width: 200px;
  height: 200px;
  margin: 20px;
  display: inline-block;
  text-align: center;
  color: #f7ece1;
  font-family: Roboto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.gauge {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #f2f2f2;
  position: absolute;
  display: inline-block;
  z-index: 1;
  top: 0;
  left: 0;
}

.gauge-fill {
  width: 50%;
  height: 100%;
  background-color: #4caf50;
  border-radius: 50% 0 0 50%;
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  transform-origin: 100% 50%;
  transform: rotate(0deg);
  transition: transform 0.5s ease;
}

.picker {
  display: flex;
  justify-content: center;
  margin: 5%;
}
.index_title {
  color: #f7ece1;
  text-decoration: none;
  font-family:Arial ;
  font-size: 35px;
  font-weight: bold;
  padding: 50px;
  text-align: center;
}
.index_text {
  color: #f7ece1;
  text-decoration: none;
  font-family:Arial ;
  font-size: 20px;
  font-weight: bold;
  padding: 15px;
  text-align: center;
} 
.about_us_text {
  color: #f7ece1;
  text-decoration: none;
  font-family:Arial ;
  font-size: 20px;
  font-weight: bold;
  padding: 50px;
  text-align: center;
}
.index_text2 {
  color: #af1536;
  text-decoration: none;
  font-family:Arial ;
  font-size: 20px;
  font-weight: bold;
  padding: 15px;
  text-align: center;
} 